<%- include('../partials/header'); -%>

    <body>
        <form action="/blog" method="post">
            <input type="text" name="title">
            <input type="text" name="body">
            <input type="hidden" name="token" id='token' />
            <button type="submit">ADD POST</button>
        </form>
    </body>

    <script>
        let info = JSON.parse(localStorage.getItem('info'));
        let tokenInput = document.getElementById('token');
        tokenInput.value = info.token;
    </script>

    </html>